*{
    font-family: Raleway;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 165, 0, 0.75);
    height: 150px;
}
#logo{
    line-height: 0%;
}
#logpic{
    width: 100px; 
    height: 100px;
    border-radius: 50%;
}

#home{
    border-width: 5px;
    border-color: black;

}

#threeD{

}

#gaming{

}

#programming{

}

main{
    display:flex;
    height: 1400px;
    background-image: url("/pics/construction.jpg");
}